# ------------------------------------------------------------------------------
# ~/.zsh_aliases
# Aliases only
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# 1. File operations
# ------------------------------------------------------------------------------

alias cp='cp -iv'  # confirm overwrite
alias mv='mv -iv'
alias mkdir='mkdir -pv'

# ------------------------------------------------------------------------------
# 2. ls / directory listing
# ------------------------------------------------------------------------------

alias l='ls -CF'
alias la='ls -A'
alias ll='ls -la'

alias ldir='ls -al | grep ^d'  # list directories only

# ------------------------------------------------------------------------------
# 3. Navigation
# ------------------------------------------------------------------------------

alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'
alias .6='cd ../../../../../..'

alias cd..='cd ..'  # typo rescue
alias ~='cd ~'

# ------------------------------------------------------------------------------
# 4. System / utility
# ------------------------------------------------------------------------------

alias c='clear'
alias h='history'
alias ut='uptime'

alias ip='curl -s icanhazip.com'  # public IP
alias globalip='curl -s inet-ip.info'

alias numfiles='ls -1 | wc -l'  # count files (non-hidden)

alias edithosts='sudo nano /etc/hosts'

alias flushdns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'  # flush DNS

# ------------------------------------------------------------------------------
# 5. Finder / macOS
# ------------------------------------------------------------------------------

alias f='open .'  # open current dir in Finder

# ------------------------------------------------------------------------------
# 6. Development
# ------------------------------------------------------------------------------

# Git
alias gs='git status'
alias gc='git commit'
alias gpl='git pull'
alias gpu='git push'
alias gl='git log --oneline --graph --decorate'  # compact log

# Python
alias pip_update="pip freeze --local | grep -v '^\-e' | cut -d = -f 1 | xargs -n1 pip install -U"

# Editor
alias e='emacs -nw'

# ------------------------------------------------------------------------------
# 7. Homebrew
# ------------------------------------------------------------------------------

alias brew_upgrade='brew update && brew upgrade && brew cleanup && brew autoremove'
alias brew_cask_upgrade='brew upgrade --cask --greedy'

# ------------------------------------------------------------------------------
# 8. grep
# ------------------------------------------------------------------------------

alias grep='grep --color=auto'

# ------------------------------------------------------------------------------
# 9. Optional (commented out)
# ------------------------------------------------------------------------------

# alias jnote='jupyter notebook'

# mcd() { mkdir -p "$1" && cd "$1"; }
